.textarea_width {
  width: 800px !important;
}
.main__form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.links__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.links__wrapper__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
}
.links__wrapper_sites_margin {
  margin: -7.5px 15px !important;
}
.links__wrapper_link_margin {
  margin: 10px 15px !important;
}
.links__wrapper__a {
  font-size: 24px;
}
p {
  margin-bottom: 0px;
}
.links__wrapper__text {
  margin-bottom: 30px;
}
.banner468 {
  width: 468px;
  height: 60px;
}
.banner468__grid {
  display: grid;
  gap: 0px 10px;
  grid-template-columns: repeat(auto-fill, minmax(468px, 1fr));
  width: 100%;
}
.banner200__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0px 10px;
  width: 100%;
}
.banner300 {
  width: 200px;
  height: 300px;
}
.banner200 {
  width: 200px;
  height: 200px;
}