.main__form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.links__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.links__wrapper__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.links__wrapper__a {
  font-size: 24px;
}
p {
  margin-bottom: 0px;
}
.links__wrapper__text {
  margin-bottom: 30px;
}