body {
  background-color: #f2f2f2;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
}
menu li {
  color: #fff;
}
menu li:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
.menu__active {
  text-decoration: underline;
}